.basicInfoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: var(--space-300);
  margin-bottom: var(--space-400);
  gap: var(--space-500);
  align-items: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  align-items: center;
}

.profileContainer img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  align-items: center;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  width: 100%;
}

.infoContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.infoTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
}

.infoTitleText {
  font-size: 0.75rem;
}

.buttonStyle {
  margin-top: var(--space-100);
  width: 30%;
}

label:not(.form-file-label):not(.custom-file-label):not(.form-check-label):not(.custom-control-label):not(
    .input-group-text
  ):not(.btn) {
  display: inline-block;
  margin-bottom: 0rem;
  width: 100%;
}
