@import '../../style/mixin.scss';

.signUpCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  padding: var(--space-700) var(--space-900) var(--space-600) var(--space-900);
  background-color: var(--background-alternative-01);
  border-radius: var(--space-250);

  @include container-xs {
    background-color: white;
  }

  @include container-sm {
    background-color: white;
  }
  @include container-md {
    background-color: var(--background-alternative-01);
  }

  @include container-lg {
    background-color: var(--background-alternative-01);
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-250);
  text-align: center;
  width: 19.3rem;
}

.logo {
  width: 16rem;
  margin-bottom: var(--space-600);
}

.alignCenter {
  text-align: left;
}
