@import '../../../style/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-250);
  align-items: flex-start;
  gap: var(--space-250);
  align-self: stretch;
  border-radius: var(--border-radius-300);
  border: 1px solid var(--border-color);
  background: var(--background-normal);
}

.teamInformHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.teamInformHeaderText {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
}

.teamInformContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}
.teamInformContentText {
  display: flex;
  align-items: center;
  gap: var(--space-050);
}

.teamInformContentItem {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--space-100);
  flex-wrap: wrap;
}

.ideaApplyListItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include container-xs {
    flex-direction: column;
    gap: var(--space-100);
    align-items: flex-start;
  }

  @include container-sm {
    flex-direction: row;
    align-items: center;
    gap: var(--space-200);
  }

  @include container-md {
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.ideaApplyListItemLeft {
  display: flex;
  flex-direction: column;
  gap: var(--space-175);
  width: 43.4375rem;

  @include container-xs {
    width: 100%;
  }

  @include container-md {
    width: 32.875rem;
  }

  @include container-lg {
    width: 43.4375rem;
  }
}

.ideaApplyListItemContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
}

.ideaApplyListItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-175);
}

.ideaApplyListItemRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11.625rem;

  @include container-xs {
    width: 100%;
  }

  @include container-sm {
    width: 11.625rem;
  }
}

.ideaApplyListItemRightContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
  align-items: center;

  @include container-xs {
    flex-direction: row;
    align-items: center;
    gap: var(--space-100);
  }

  @include container-sm {
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-050);
  }
}

.teamInformHeaderDropdownToggle {
  width: var(--dimension-400);
  height: var(--dimension-400);
  padding: 0 var(--space-100);

  svg {
    width: var(--dimension-200);
    height: var(--dimension-200);
  }
}

.buttonToggleGroup {
  width: fit-content !important;
}

.ideaApplyListItemTitle {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.acceptableWrap {
  display: flex;
  padding: var(--space-150) var(--dimension-250);
  align-items: center;
  gap: var(--space-100);
  border-radius: var(--border-radius-200);
  border: 1px solid var(--border-color);
  background: var(--background-normal);
}

.acceptableWrapMobile {
  width: 100%;
  flex-direction: column;
}

.acceptableRow {
  display: flex;
  width: 100%;
  gap: var(--space-100);
}

.acceptableItem {
  display: flex;
  gap: var(--space-100);
}

.line {
  width: 0.0625rem;
  height: 1.375rem;
  background: var(--border-color);
}
