@import '../../../style/mixin.scss';

.container {
  display: flex;
  width: 100vw;
  padding: 7.5rem 0rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: var(--background-alternative-01);

  @include container-xs {
    width: auto;
  }

  @include container-lg {
    width: 100vw;
  }
}

.titleText {
  @include container-xs {
    width: 20.9375rem;
    text-align: left;
  }

  @include container-sm {
    width: 31.25rem;
    text-align: center;
  }

  @include container-md {
    width: 42.5rem;
    text-align: left;
  }

  @include container-lg {
    width: 56.4375rem;
  }
}

.FAQWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include container-xs {
    width: 20.9375rem;
  }

  @include container-sm {
    width: 31.25rem;
  }

  @include container-md {
    width: 42.5rem;
  }

  @include container-lg {
    width: 56.4375rem;
  }
}

.questionWrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--space-150);
}

.listWrapper {
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  padding: var(--space-300) 0;
}

.iconRight {
  margin-left: auto;
}

.answerText {
  padding-top: var(--space-200);
  padding-left: var(--space-400);
}

.showInSm {
  @include container-xs {
    display: none;
  }

  @include container-sm {
    display: block;
  }
}

.showInXs {
  @include container-xs {
    display: block;
  }

  @include container-sm {
    display: none;
  }
}
