@import '../../style/mixin.scss';

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-050);
  border-radius: 1.25rem;
  margin-top: 8.37rem;
  margin-bottom: 12.5rem;

  @include container-xs {
    padding: var(--space-500) var(--space-250);
  }

  @include container-sm {
    padding: var(--space-500) var(--space-500);
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include container-xs {
    width: 18.25rem;
  }

  @include container-sm {
    width: 23.75rem;
  }

  @include container-md {
    width: 28.625rem;
  }
}

.titleGap {
  margin-bottom: var(--space-300);
}

.longButton {
  display: flex;
  width: 28.75rem;
  padding: 0.875rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--blue-500-primary);
}

.dropDownItem {
  position: relative;
}

.dropDownItemIcon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.visible {
  display: none;
}
