tbody {
  background: var(--background-normal) !important;

  tr {
    height: var(--dimension-700);
  }

  td {
    height: var(--dimension-700);
    &:first-child {
      border-right: 1px solid var(--border-color);
    }
  }
}

.memberName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.375rem;
}

.memberDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberDropdownMenu,
.memberRoleDropdownMenu {
  min-width: 6.0625rem !important;
}

.memberDropdownToggle {
  width: var(--dimension-300) !important;
  height: var(--dimension-300) !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberDropdownIcon {
  width: var(--dimension-200) !important;
  height: var(--dimension-200) !important;
}

.memberNameText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 5.625rem;
}
