.whiteFont {
  color: var(--gray-000);
  &:hover {
    color: var(--gray-000);
  }
}
.grayCircle {
  width: 2rem;
  height: 2rem;
  background-color: var(--gray-200);
  border-radius: 1.25rem;
  margin-left: -0.1rem;
}
