@import '/src/style/mixin.scss';

.navBarStyle {
  @include container-lg {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.loginButton {
  color: var(--gray-000);
  @include container-xs {
    display: none;
  }
  @include container-lg {
    display: inline-flex;
  }
}

.loginText {
  color: var(--gray-900);
  @include container-md {
    display: inline-flex;
  }
  @include container-lg {
    display: none;
  }
}

.collapse {
  width: 100%;
  display: flex;
  overflow: visible !important;
  @include container-xs {
    flex-direction: column;
    align-items: start;
  }

  @include container-lg {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.customToggler {
  @include container-xs {
    & > span > span {
      background-color: var(--gray-900) !important;
    }
  }

  @include container-lg {
    background-color: var(--gray-000) !important;
  }
}

.navbar {
  @include container-xs {
    margin-bottom: var(--space-100);
  }

  @include container-lg {
    margin-bottom: 0;
    align-items: center;
  }
}

.whiteFont {
  @include container-xs {
  }
  @include container-lg {
    color: var(--gray-000);
    &:hover {
      color: var(--gray-000);
    }
  }
}

.profileCircle {
  @include container-xs {
    padding: 0.5625rem 1rem !important;
  }
  @include container-lg {
    padding: 0 !important;
  }
}

.dropdownToggle {
  @include container-xs {
    padding: 0.5625rem 1rem !important;
  }
  @include container-lg {
    padding: 0 0.5rem !important;
  }
  border: none !important;

  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--text-alternative);
  height: var(--dimension-400) !important;
  font-weight: 500;
  background: none;

  &:hover {
    background: var(--gray-400-transparent-16);
    outline: 0;
  }
}

.dropdownToggleWhite {
  @include container-xs {
    border: none !important;
    padding: 0.5625rem 1rem !important;
    font-size: 0.875rem;
    line-height: 1.375rem;
    height: var(--dimension-400) !important;
    font-weight: 500;
    background: none;
    &:hover {
      background: var(--gray-400-transparent-16);
      outline: 0;
    }
  }
  @include container-lg {
    color: var(--gray-000);

    &:hover {
      color: var(--gray-000);
    }
  }
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.iconAddLink {
  display: flex;
  align-items: center;
  gap: var(--space-100);
  &:hover {
    svg {
      fill: '#1959B8';
    }
  }
}

.dropdownItem {
  &:hover {
    background: var(--primary-transparent-24);
    color: var(--text-primary-alternative);
  }
}
