.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0 var(--space-300);
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  &:first-child {
    border-right: 1px solid var(--border-hover);
  }
  &:nth-child(2) {
    width: 7.625rem;
  }
  &:nth-child(4) {
    width: 7rem;
  }
  &:last-child {
    padding: 0 var(--space-200);
  }
}

td {
  height: var(--dimension-700);
}

th {
  background-color: var(--background-alternative-01);
  height: var(--dimension-500);
}

.row {
  &:hover {
    background-color: #f5f5f5;
  }
}

.actionButtons {
  display: flex;
  gap: var(--space-100);
  align-items: center;
}

.modalReasonBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  align-items: flex-start !important;
}

.modalDecisionBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  align-items: center;
  margin-top: 3.5rem;

  svg {
    width: 6.25rem;
    height: 6.25rem;
  }
}

.modalText {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
  align-items: center;
}

.checkIcon {
  color: var(--success);
  fill: var(--success);
}

.warningIcon {
  color: var(--danger);
  fill: var(--danger);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding: 1rem 1.5rem;

  button {
    flex-grow: 0;
    margin: 0;
  }
}

.nameContainer {
  cursor: pointer;
}

.tableHeaderIcon {
  width: 1rem;
  height: 1rem;
  margin-left: var(--space-050);
  cursor: pointer;
}

.univ {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
