@import '../../style/mixin.scss';

.cardContainer {
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-30px);
  }
  cursor: pointer;
}

.cardImg {
  position: relative;
  width: 22.25rem;
  height: 12.5rem;
  object-fit: cover;
  background-color: var(--gray-200);
  border-radius: var(--space-200);
  margin-bottom: var(--space-100);
}

.imageWrapper {
  position: relative;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  max-width: 22.25rem;
}

.mainText {
  margin-bottom: var(--space-050);
}

.subText {
  font-size: 0.75rem;
  color: var(--color-grey-500);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
  color: var(--color-white);

  > .badge-secondary {
    color: #fff;
    background-color: #2b2d36;
  }
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  grid-column: span 3;
  gap: var(--space-100);

  margin-bottom: 6.6rem;
}

.modalChips {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modalContainer {
  flex-direction: column;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subText {
  height: 2rem;
}

.tempCarousel {
  display: flex;
  width: 28.25rem;
  height: 15.8125rem;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 0.5rem;
  background: var(--gray-050);
}

// modalMembers

.memberPart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

// ----

.termFilterButton {
  display: flex;
  height: var(--dimension-500);
  padding: 0rem var(--space-200);
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
  border-radius: var(--border-radius-300);
  color: var(--text-alternative);
  // TODO: 색상 GDS에 없음
  background: rgba(133, 136, 153, 0.08);
  border: none;
}

.active {
  background: #5094fa3d;
}

.space500 {
  margin-top: var(--space-500);
}

// ProjectDetailModal

.modalBodyTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.modalBodyTopState {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}

.modalBadge {
  background: var(--gray-900);
  color: var(--gray-000);
  height: 1.5rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  padding: 0rem var(--space-300) var(--space-400) var(--space-300);
}

.cardImgWrap {
  min-width: 18.5rem;
  max-height: 15.8125rem;
  min-height: 10.5rem;

  border-radius: 0.5rem;
  background: var(--gray-050);
  overflow: hidden;

  @include container-sm {
    width: 28.25rem;
  }
}

.modalProjImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberList {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.textWidth {
  width: 3.5rem;
}

.listName {
  display: flex;
  gap: var(--space-200);
}

.dialogFooter {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  position: relative;
}

.githubButton {
  display: flex;
  height: 2.5rem;
  padding: 0.5625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: var(--border-radius-300);
  background: rgba(133, 136, 153, 0.08);
  border: none;
}

.iconSize {
  width: 1.25rem;
  height: 1.25rem;
}

.listMenu {
  position: absolute;
  top: 110px;

  list-style: none;
  display: flex;
  width: 28.25rem;
  padding: 0.25rem;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background: var(--background-alternative-02);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transition: opacity 0.1s linear;

  &.listVisible {
    opacity: 1 !important;
    transition: opacity 0.1s linear;
  }
}

.listItem {
  display: flex;
  padding: 0.3125rem 0.75rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background: rgba(133, 136, 153, 0.08);
    border-radius: 0.5rem;
  }
}

.textContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
