@import '../../../src/style/breakpoints';

.informationContainer {
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 30rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 30rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 30rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 35rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 35rem;
  }
}

.informationHeader {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin-top: var(--space-300);
  margin-bottom: var(--space-300);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.inputContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);

  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 33rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 33rem;
  }
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 33rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 33rem;
  }
}

.errorCircle {
  background-color: transparent;
  color: var(--gray-500);
  margin-left: var(--space-050);

  &:hover {
    background-color: transparent;
    color: var(--gray-700);
  }
}

.errorCircleContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
}

.inputTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
  font-size: 0.75rem;
}

.toggleStyle {
  border: 1px solid var(--border-color);
  background: var(--background-normal);
  color: var(--text-hint);
  width: 100%;
  font-weight: 400;
}

.seasonPartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  width: 33rem;
}

.checkBoxStyle {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  //   width: 100%;
}

.checkBoxTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
  align-items: center;
}

.confirmBtn {
  margin-top: var(--space-400);
  align-self: flex-end;
}

.errorCircleIcon {
  cursor: pointer;
}
