.informationContainer {
  width: 35rem;
}

.informationHeader {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin-top: var(--space-300);
  margin-bottom: var(--space-300);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.inputContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  width: 100%;
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
}

.inputTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
  font-size: 0.75rem;
}

.toggleStyle {
  border: 1px solid var(--border-color);
  background: var(--background-normal);
  color: var(--text-hint);
  width: 100%;
  font-weight: 400;
}

.seasonPartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.checkBoxStyle {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  //   width: 100%;
}

.checkBoxTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
  align-items: center;
}

.confirmBtn {
  margin-top: var(--space-400);
  align-self: flex-end;
}
