.container {
  display: flex;
  height: 25rem;
  flex-direction: column;
  gap: var(--space-300);
  align-self: stretch;
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}
