@import '~bootstrap/scss/bootstrap';

.RecruitContainer {
  background-color: #ffffff;
  min-height: 100vh; // 페이지 전체에 흰색 배경을 적용하기 위해 추가
}

.RecuritBody {
  background-color: #ffffff;
}

.RecuritCautionWrapper {
  background-color: #ffffff;
}

.RecuritFAQContainer {
  background-color: #ffffff;
}
