@import '../../style/mixin.scss';

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
  align-self: stretch;
  margin-bottom: var(--space-500);
}

.cardContainer {
  row-gap: var(--space-600);
  column-gap: var(--space-400);
  justify-content: start;
  display: grid;

  @include container-xs {
    grid-template-columns: repeat(1, 1fr);
  }

  @include container-lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include container-xl {
    grid-template-columns: repeat(3, 1fr);
  }
}
.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  grid-column: span 3;

  margin: 2rem 0 8rem 0;
}

.titleText {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.subText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
