.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
  align-self: stretch;
  margin-bottom: var(--space-500);
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--space-600);
  column-gap: var(--space-400);
  justify-content: start;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  grid-column: span 3;

  margin: 2rem 0 8rem 0;
}

.titleText {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.subText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
