@import '../../../../style/mixin.scss';

// BenefitDesktop

.benefitDesktop {
  position: relative;
  background-color: var(--gray-000);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.benefitTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motionContainer {
  display: flex;
  gap: var(--space-500);
  margin-top: 3.69rem;

  @include container-xs {
    // width: 34.5rem;
    flex-direction: column;
    padding: var(--space-500);
  }

  @include container-lg {
    flex-direction: row;
    justify-content: center;
  }
}

.benefitLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-050);
  padding: 1.5rem;
  border-radius: 1.25rem;

  &:hover {
    background-color: var(--gray-100);
    text-decoration: none;
  }

  @include container-xs {
    width: 100%;
  }

  @include container-lg {
    width: 20rem;
  }
}

.itemTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconWrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--gray-400-transparent-24);
  transform: scaleX(-1);

  &:hover {
    background-color: var(--blue-500);
    & path {
      fill: var(--gray-000);
    }
  }
}
