@import '../../../../style/mixin.scss';

.benefitDesktop {
  z-index: 1;

  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 15rem;
}

.benefitLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-050);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconWrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--gray-400-transparent-24);
  transform: scaleX(-1);
  margin-left: 1rem;
}

.motionContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1.5rem;

  > * {
    flex-grow: 1;
  }
}
// ------

.headerTitle {
  text-align: start;
  top: 18%;
}

.headerTitleSmall {
  width: 43rem;

  text-align: start;
  top: 18%;
}

.scroll {
  @include container-md {
    width: 43rem;
  }

  @include container-xl {
    width: 71.25rem;
  }

  margin-top: 3.69rem;
}

.itemList {
  margin-top: 3.69rem;
  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.ghost {
  width: 100vw;
}

.benefitImgContainer {
  &.gray800 {
    background-color: var(--gray-800);
  }
  &.gray300 {
    background-color: var(--gray-300);
  }
  &.blue400 {
    background-color: var(--blue-400);
  }
  &.inflearnGreen {
    background-color: #00cd72;
  }
  &.yellow300 {
    background-color: var(--yellow-300);
  }

  width: 19rem;
  height: 13.6rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.benefitImg {
  width: max-content;
  height: max-content;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.benefitContents {
  background-color: var(--light);
  border-radius: 0rem 0rem var(--space-500) var(--space-500);
  border: 1px solid var(--gray-300);
  width: 19rem;

  padding: 1.25rem;
}

.benefitText {
  gap: 0.5rem;
}

.benefitTitle {
  text-align: left;
}

.benefitDescription {
  color: var(--gray-900);

  text-align: left;
  white-space: pre-wrap;
  margin: 0;
}

.icon {
  width: var(--size-500);
  height: var(--size-500);
}
