.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tableContainer {
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  width: 100%;
}

.table {
  overflow-y: auto;
  width: 100%;

  thead {
    padding: 0rem var(--space-200);
    height: var(--dimension-500);
    background: var(--background-alternative-01);
  }

  th,
  td {
    padding: 0rem var(--space-200);
  }

  td:first-child,
  th:first-child {
    width: 16rem;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 5.6rem;
  }

  td:first-child,
  th:first-child {
    border-right: 1px solid var(--border-color);
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-left: var(--space-050);
  cursor: pointer;
}

.pagination {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background: #fff;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
