@import '../../../style/mixin.scss';

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-000);
  padding-bottom: 16rem;
  padding-top: 9.8rem;
  width: 100%;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include container-xs {
    width: 21.5rem;
    display: flex;
    flex-direction: column;
  }

  @include container-sm {
    width: 29.5rem;
    display: flex;
    flex-direction: column;
  }

  @include container-lg {
    width: 59rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.fullImgBoxDesktop {
  grid-column: span 2;
  width: 100%;

  @include container-xs {
    display: none;
  }

  @include container-lg {
    display: block;
  }
}

.fullImgBoxMobile {
  grid-column: span 2;
  width: 100%;

  @include container-xs {
    display: block;
  }
  @include container-lg {
    display: none;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 3.4rem;
  color: var(--gray-600);

  text-align: center;
  justify-content: center;
  white-space: pre-line;
}
