@import '/src/style/mixin.scss';

.mainContainer {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  background: var(--background-alternative-01);
}

.mainWrapper {
  display: flex;
  width: 42.5rem;
  padding: var(--space-300) var(--space-300) var(--space-800) var(--space-300);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-300);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-100);
  background: var(--gray-000);

  @include container-xs {
    width: 23.4375rem;
  }

  @include container-sm {
    width: 28.75rem;
  }
  @include container-md {
    width: 42.5rem;
  }
}

.img {
  width: 13.75rem;
  height: 13.75rem;
}

.textAlign {
  text-align: center;
  @include container-xs {
    display: none;
  }
  @include container-md {
    display: block;
  }
}

.isMobileText {
  display: none;
  text-align: center;

  @include container-xs {
    display: block;
  }

  @include container-md {
    display: none;
  }
}
