.teamInfoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-400) var(--space-250);
  gap: var(--space-500);
}

.teamInfoContentMobile {
  display: flex;
  flex-direction: column;
  padding: var(--space-400) var(--space-250);
  gap: var(--space-250);
}

.teamInfoPosition {
  display: flex;
  gap: var(--space-100);
  align-items: center;
}

.teamInfoLeftItem,
.teamInfoRightItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.teamInfoLeftItem {
  width: 100%;
}

.teamInfoRightItem {
  width: 5.5rem;
}

.teamInfoRightItemMobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.teamInfoStackContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-100);
}

.teamInfoStackContainerMobile {
  display: flex;
  gap: var(--space-100);
}

.teamMemberInfoContainer {
  display: flex;
  gap: var(--space-100);
}

.teamMemberInfoContainerMobile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--space-100);
}
