@import '../../../style/mixin.scss';
.projectContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-250);
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin-top: var(--space-400);
}

.projectRow {
  @include container-xs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-400);
  }

  @include container-sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-400);
  }

  @include container-md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-175);
  }

  @include container-lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-175);
  }
}

.projcetColumn {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
}

.cardImg {
  width: 17rem;
  height: 9.5rem;
  object-fit: cover;
  background-color: var(--gray-200);
  border-radius: 0.6rem;
}
