.container {
  width: 35rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: var(--space-400) 0 12.5rem 0;
  gap: var(--space-400);
}

.headerText {
  line-height: var(--line-height-300); /* 150% */
  letter-spacing: var(--letter-spacing-h4);
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.buttonAlign {
  display: flex;
  justify-content: flex-end;
}

.formStep2Wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}
