.skeletonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  align-self: stretch;
}

.skeletonHeader {
  display: flex;
  gap: 2.5rem;
}

.skeletonHeaderRight {
  display: flex;
  width: 25.0625rem;
  flex-direction: column;
  gap: var(--space-300);
}

.skeletonHeaderRightTop {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  flex: 1 0 0;
}

.skeletonHeaderRightTopBottom {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
  align-self: stretch;
}

.skeletonHeaderRightBottom {
  display: flex;
  gap: var(--space-100);
}

.skeletonContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.skeletonContentItem {
  display: flex;
  padding: var(--space-200);
  flex-direction: column;
  gap: var(--space-100);
  align-self: stretch;
  border-radius: var(--space-100);
  border: 1px solid var(--border-color);
}

.skeletonContentItemBottom {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

.skeletonProjectItem {
  display: flex;
  height: 6.25rem;
  gap: var(--space-150);
  align-self: stretch;
}

.skeletonProjectItemRight {
  display: flex;
  padding: var(--space-050) 0;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.skeletonProjectItemRightTop {
  display: flex;
  flex-direction: column;
  gap: var(--space-050);
  align-self: stretch;
}

.skeletonAvatar {
  width: 7.5rem !important;
  height: 7.5rem !important;
}
