@import '../../../style//mixin.scss';

.previewContainer {
  padding: 7.5rem 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-500);
  background-color: var(--background-alternative-01);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ProjectCarousel

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-500);

  & article,
  & img {
    position: relative;
    object-fit: cover;
    background-color: var(--gray-200);
    border-radius: var(--space-200);
    margin-bottom: var(--space-100);
    @include container-xs {
      width: 22.25rem;
      height: 12.5rem;
    }

    @include container-md {
      width: 17.5rem;
      height: 9.5rem;
    }

    @include container-xl {
      width: 22.25rem;
      height: 12.5rem;
    }
  }
}

.projectCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 0rem 8rem;
}

.hidden {
  display: none;
}
