// ProjectCarousel

.projectCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 0rem 8rem;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-500);
}

// { width: '100rem', padding: '4rem', backgroundColor: '#F7F7FA'
