@import '../../../style/mixin.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
  padding: 6.25rem 0rem;
  background: var(--gray-050);
}

.bottomSection {
  display: flex;
  align-items: center;
  gap: var(--space-250);
}

.targetBox {
  display: flex;
  padding: var(--space-400);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-150);
  border-radius: var(--space-200);
  border: 1px solid var(--gray-300);
  background: var(--background-normal);
}

.contentsText {
  width: 13.9375rem;
  text-align: center;
  line-height: 1.875rem; /* 150% */
  letter-spacing: -0.0125rem;
}
