@import '../../../style/mixin.scss';

.container {
  width: 59.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-250);
  padding: var(--space-400) 0 12.5rem 0;
  margin: 4rem auto 0;

  @include container-xs {
    width: 23.4375rem;
  }

  @include container-sm {
    width: 36rem;
  }

  @include container-md {
    width: 48rem;
  }

  @include container-lg {
    width: 59.5rem;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}
