@import '../../style/mixin.scss';

.updatePWContainer {
  display: flex;
  flex-direction: column;
  //   width: 35rem;
  margin-top: 5rem;
  margin-bottom: 20rem;
  gap: var(--space-300);
  width: 100%;

  @include container-xs {
    width: 21rem;
  }

  @include container-sm {
    width: 31rem;
  }
  @include container-md {
    width: 35rem;
  }

  @include container-lg {
    width: 35rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}
.title {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
}

.titleText {
  font-size: 0.75rem;
}

.confirmBtn {
  margin-top: var(--space-200);
  align-self: flex-end;
}
