@import '../../../style/mixin.scss';

.container {
  display: flex;
  width: 903px;
  margin: var(--space-800) auto;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
}

.rowLayout {
  display: flex;
  align-items: center;
  gap: var(--space-200);
  align-self: stretch;
}

.textLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.cardLayout {
  display: flex;
  width: 444px;
  padding: var(--space-300);
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--space-200);
  background: var(--gray-050);

  &.widthFull {
    width: 100%;
    margin-top: var(--space-200);
  }
}

.img {
  width: 10.625rem;
  height: 7.75rem;
}

.cardTitleText {
  line-height: 1.6875rem; /* 150% */
  letter-spacing: -0.00625rem;
}

.cardParagraph {
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.button {
  height: 2.5rem;

  padding: 0.5625rem 1rem;

  gap: 0.625rem;
}
