@import '../../../style/mixin.scss';

.container {
  display: flex;
  width: 903px;
  margin: 120px auto;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
}

.rowLayout {
  display: flex;
  align-items: center;
  gap: var(--space-200);
  align-self: stretch;

  @include container-xs {
    flex-direction: column;
  }

  @include container-lg {
    flex-direction: row;
  }
}

.textLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.cardLayout {
  display: flex;
  padding: var(--space-300);
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--space-200);
  background: var(--background-alternative-01);

  @include container-xs {
    width: 21.5rem;
  }

  @include container-sm {
    width: 27.75rem;
  }

  &.widthFull {
    margin-top: var(--space-200);

    @include container-md {
      width: 27.75rem;
    }

    @include container-lg {
      width: 100%;
    }
  }
}

.img {
  @include container-xs {
    width: 8.5rem;
    height: 6.25rem;
  }

  @include container-sm {
    width: 10.625rem;
    height: 7.75rem;
  }
}

.cardTitleText {
  line-height: 1.6875rem; /* 150% */
  letter-spacing: -0.00625rem;
}

.cardParagraph {
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.button {
  height: 2.5rem;
  padding: 0.5625rem 1rem;
  gap: 0.625rem;
}

.showOnLg {
  @include container-xs {
    display: none;
  }
  @include container-lg {
    display: block;
  }
}

.showOnXs {
  @include container-xs {
    display: block;
  }

  @include container-sm {
    display: none;
  }
}

.showOnSm {
  @include container-xs {
    display: none;
  }

  @include container-sm {
    display: block;
  }
}
