@import '../../style/mixin.scss';

.MyPageContainer {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin-top: 5rem;
  margin-bottom: 20rem;

  @include container-xs {
    width: 21rem;
  }

  @include container-sm {
    width: 31rem;
  }
  @include container-md {
    width: 35rem;
  }

  @include container-lg {
    width: 35rem;
  }
}

.myPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin-top: var(--space-300);
}

.confirmBtn {
  margin-top: var(--space-300);
  align-self: flex-end;
}
