@import '../../../style/mixin.scss';

.container {
  width: 36rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0;
  padding: var(--space-400) 0 12.5rem 0;
  gap: var(--space-400);

  @include container-xs {
    width: 23.4375rem;
  }

  @include container-sm {
    width: 36rem;
  }
}

.headerText {
  line-height: var(--line-height-300); /* 150% */
  letter-spacing: var(--letter-spacing-h4);
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.buttonAlign {
  display: flex;
  justify-content: flex-end;
}

.formStep2Wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}
