@import '../../../style/mixin.scss';

.container {
  display: flex;
  margin: var(--space-800) auto;

  justify-content: space-between;
  align-items: center;
  border-radius: var(--space-250);
  border: 1px solid var(--gray-300);

  @include container-md {
    width: 43rem;
    flex-direction: column;
    padding: var(--space-400) 6.375rem;
    gap: var(--space-300);
  }

  @include container-xl {
    width: 46.875rem;
    flex-direction: row;
    padding: var(--space-400);
  }

  @include container-xxl {
    width: 56.4375rem;
  }
}

.leftSection {
  display: flex;
  flex-direction: row;
  gap: var(--size-200);

  @include container-xl {
    flex-direction: column;
    gap: var(--size-600);
  }
}

.leftTopSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
}

.leftBottomSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.scheduleDiv {
  display: flex;
  align-items: center;
  gap: var(--space-075);
}

.calendarImg {
  @include container-md {
    padding: var(--space-400);
    width: 30.25rem;
    height: 18.875rem;
  }

  @include container-lg {
    width: 24.625rem;
  }

  @include container-xxl {
    width: 30.1875rem;
    height: 18.875rem;
  }
}
