@import '../../../style/mixin.scss';

.container {
  width: 903px;
  display: flex;
  margin: var(--space-800) auto;
  padding: var(--space-400);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--space-250);
  border: 1px solid var(--gray-300);
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-600);
}

.leftTopSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
}

.leftBottomSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.scheduleDiv {
  display: flex;
  align-items: center;
  gap: var(--space-075);
}

.calendarImg {
  width: 30.1875rem;
  height: 18.875rem;
}
