.modalBody {
  display: flex;
  padding: var(--space-200) var(--space-300) var(--space-300) var(--space-300);
  flex-direction: column;
  gap: var(--space-100);
  align-self: stretch;
}

.modalIcon {
  width: 6.25rem;
  height: 6.25rem;
  color: #448efe;
}

.modalContent {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}