.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-100);
}

.modalText {
  text-align: center;
}

.modalIcon {
  width: 6.25rem;
  height: 6.25rem;
  fill: #f5535e;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-100);
  button {
    flex-grow: 0;
    margin: 0;
  }
}
