@import '../../../style/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 36rem;
  padding: var(--space-400) 0 12.5rem 0;
  margin: 4rem auto 0;
  gap: var(--space-400);

  @include container-xs {
    width: 23.4375rem;
  }

  @include container-sm {
    width: 36rem;
  }
}
.buttonAlign {
  display: flex;
  justify-content: flex-end;
}
