.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 46.625rem;
  padding: 4rem 0rem;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  width: 15.75rem;
}
