td {
  padding: 0rem var(--space-200);
  height: var(--dimension-700);
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subjectContainer {
  width: 9.9375rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}
