@import '../../../../src/style/breakpoints';

.detailedInfoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin-top: var(--space-400);
  margin-top: var(--space-200);
}

.infoContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);

  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 33rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 33rem;
  }
}

.infoTitle {
  display: flex;
  flex-direction: row;
  gap: var(--space-050);
}

.infoTitleText {
  font-size: 0.75rem;
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 33rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 33rem;
  }
}

.dropDownRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
}

.toggleStyle {
  border: 1px solid var(--border-color);
  background: var(--background-normal);
  color: var(--text-hint);
  width: 100%;
  font-weight: 400;
}

.errorCircleContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
}

.seasonPartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  width: 33rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.inputContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);

  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 28rem;
  }

  @media (min-width: $breakpoint-xl) {
    width: 33rem;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 33rem;
  }
}

.errorCircleIcon {
  cursor: pointer;
}
